.forTask{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 24%;
  }
  
.result {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

.result p:first-child {
    font-weight: bold;
  }